<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MD5 generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            padding: 25px;
            background-color: white;
            color: black;
            /*font-size: 25px;*/
        }

        body.dark-theme {
            background-color: black;
            color: white;
        }
        body.dark-theme div.offcanvas-header {
            color: white;
            background-color: black;
        }
        body.dark-theme div.offcanvas-header {
            color: white;
            background-color: black;
        }
        body.dark-theme button.text-reset {
            color: white;
            background-color: white;
        }

        body.dark-theme div.offcanvas-body {
            color: white;
            background-color: black;
        }
        body.dark-theme label.list-itemv {
            color: white;
            background-color: black;
        }

        .radio-group {
            text-align: left;
            padding-top: 80px;
            padding-left: 35%;
            padding-right: 30%;
        }
        .carousel {
            padding-top: 70px;
            padding-left: 15%;
            padding-right: 15%;
        }
        .checkers {
            /*text-align: center;*/
            padding-top: 20px;
            padding-left: 40%;
            padding-right: 30%
        }
        .checkers2 {
            padding-top: 20px;
            padding-left: 40%;
            padding-right: 30%
        }

        .input-file-section{
            text-align: center;
            padding-top: 20px;
            padding-left: 25%;
            padding-right: 30%;
        }
        .input-text-section {
            text-align: center;
            padding-top: 20px;
            padding-left: 25%;
            padding-right: 30%;
        }
        .check-validation {
            padding-top: 10px;

        }
        .check-password {
            padding-top: 10px;

        }
        .check-save-file {
            padding-top: 10px;
        }
        .submit-button {
            text-align: right;
            margin-top: 4%;
        }

        .submit-button-text {
            text-align: right;
            padding-top: 20px;
        }
        .secret-key {
            text-align: center;
            padding-top: 20px;
            padding-left: 30%;
            padding-right: 15%;
        }
        .ranges-key-complexity {
            text-align: center;
            padding-top: 10px;
            padding-left: 25%;
            padding-right: 30%;
        }
        .ranges-key-len {
            text-align: center;
            padding-top: 10px;
            padding-left: 25%;
            padding-right: 30%;
        }
        .card {
            margin-top: 4%;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
        }
        .card-body {
            flex: 1 1 auto;
            padding: 1rem 1rem;
        }
        .second-text {
            margin-top: 4%;
        }
        .about-main {
            margin-top: 4%;
        }
        .documentation {
            margin-top: 4%;
        }
        .aboutself {
            margin-top: 4%;
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</head>
<body>

<div class="document-gen" id="app-main">
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick=window.location.reload()>MD5 Generator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" aria-labelledby="offcanvasNavbarDropdown">
                    <li class="nav-item dropdown-item">
                        <a class="nav-link active" aria-current="page" href="#" v-on:click="show_main=false; show_about=false"><label class="list-itemv">Main</label></a>
                    </li>
                    <li class="nav-item dropdown-item">
                        <a class="nav-link" aria-current="page" href="#" v-on:click="show_main=true; show_about=false"><label class="list-itemv">Hashing</label></a>
                    </li>
                    <li class="nav-item dropdown-item">
                        <a class="nav-link" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" v-on:click="show_main=false; show_about=true">
                            <label class="list-itemv">About</label>
                        </a>
                    </li>
                    <li class="nav-item"><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="document.body.classList.toggle('dark-theme')">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Dark theme</label>
                        </div>
                    </li>
                </ul>



<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">-->
<!--                    <button class="btn btn-outline-success" type="submit">Поиск</button>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</nav>


<div class="was-validated"  v-if="show_main && !show_about">
    <div class="btn-group col-md-12 radio-group" role="group">
    <div class="form-check form-check-inline">
        <input class="btn-check" type="radio" name="flexRadioDefault1" id="flexRadioDefault1" autocomplete="off" checked v-on:click="show_input=true">
        <label class="btn btn-outline-primary btn-lg" for="flexRadioDefault1">
            Hashing File
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="btn-check" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" autocomplete="off" v-on:click="show_input=false">
        <label class="btn btn-outline-primary btn-lg" for="flexRadioDefault2">
            Hashing Text
        </label>
    </div>
    </div>

    <div class="container " v-if="show_input">
        <form id="sending-file" enctype="multipart/form-data" action="index" method="post" onsubmit="Checked(this); return false;">
            <div class="checkers" role="group">
                <h5 class="options-checkers">Options</h5>
                <div class="check-validation">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="check-validation">
                    <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck1">Add validation file</label>
                </div>

                <div class="check-password">
                    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" v-on:click="add_password=!add_password" name="check-password">
                    <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck2">Add password</label>
                </div>

                <div class="check-save-file">
                    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" name="check-save-file">
                    <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck3">Save hash in textfile</label>
                </div>

            </div>

            <div class="group-secret-key" v-if="add_password">
                <div class="mb-3 row secret-key">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Password-phrase</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPassword" name="inputPassword" required>
                        <div class="invalid-feedback">Enter password-phrase</div>
                    </div>
                </div>
                <div class="mb-3 row secret-key">
                    <label for="inputPasswordConfirm" class="col-sm-3 col-form-label">Confirm password-phrase</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPasswordConfirm"  name="inputPasswordConfirm" required>
                        <div class="invalid-feedback">Enter confirm password-phrase</div>
                    </div>
                </div>

                <div class="ranges-key-complexity">
                    <label for="complexity1" class="form-label">Complexity</label>
                    <input type="range" class="form-range" min="0" max="3" id="complexity1" value="0" name="key-complexity" oninput="num.value=this.value">
                    <output id="num">0</output>
                </div>
                <div class="ranges-key-len">
                    <label for="key-len1" class="form-label">Length</label>
                    <input type="range" class="form-range" min="1" max="20" id="key-len1" value="1" name="key-len" oninput="num1.value=this.value">
                    <output id="num1">1</output>
                </div>
            </div>
        <div class="input-file-section">
        <div class="mb-3">
            <input type="file" class="form-control" aria-label="file example" name="file" id="file" required>
            <div class="invalid-feedback">Enter file please</div>
        </div>
        <div class="submit-button">
            <button class="btn btn-primary" type="submit" id="submit-button-file" name="submit-button-file">Send file</button>
        </div>
        </div>
        </form>
    </div>
    <div class="container" v-else="!show_input">
        <form id="sending-text" method="post" onsubmit="CheckedText(this); return false;">
<!--        <div class="checkers2" role="group">-->
<!--            <h5 class="options-checkers">Options</h5>-->

<!--            <div class="check-validation">-->
<!--                <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck4">Save hash in textfile</label>-->
<!--                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" name="check-valid">-->

<!--            </div>-->

<!--            <div class="check-password">-->
<!--                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" name="check-password">-->
<!--                <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck5">Add password</label>-->
<!--            </div>-->

<!--        </div>-->
            <div class="checkers2" role="group">
                <h5 class="options-checkers">Options</h5>
                <div class="check-validation">
                   <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" name="hash-empty-string" onclick="ChangeEmptyText()" data-bs-toggle="collapse" data-bs-target="#collapseExample">
                    <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck4" >Hash empty string</label>
<!--                    title="To calculate the hash of an empty string, write '@' and then send"-->
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            To calculate the hash of an empty string, write '@' and then send.
                        </div>
                    </div>
                </div>

                <div class="check-password">
                    <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" v-on:click="add_password=!add_password" name="check-password-text">
                    <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck5">Add password</label>
                </div>

                <div class="check-save-file">
                    <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" name="check-save-file-text">
                    <label class="btn btn-outline-primary d-grid gap-2 col-6" for="btncheck6">Save hash in textfile</label>
                </div>

            </div>

            <div class="group-secret-key" v-if="add_password">
                <div class="mb-3 row secret-key">
                    <label for="inputPasswordText" class="col-sm-3 col-form-label">Password-phrase</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPasswordText" name="inputPasswordText" required>
                        <div class="invalid-feedback">Enter password-phrase</div>
                    </div>
                </div>
                <div class="mb-3 row secret-key">
                    <label for="inputPasswordConfirmText" class="col-sm-3 col-form-label">Confirm password-phrase</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPasswordConfirmText"  name="inputPasswordConfirmText" required>
                        <div class="invalid-feedback">Enter confirm password-phrase</div>
                    </div>
                </div>

                <div class="ranges-key-complexity">
                    <label for="complexity2" class="form-label">Complexity</label>
                    <input type="range" class="form-range" min="0" max="3" value="0" id="complexity2" oninput="num2.value=this.value" name="key-complexity-text">
                    <output id="num2">0</output>
                </div>
                <div class="ranges-key-len">
                    <label for="key-len2" class="form-label">Length</label>
                    <input type="range" class="form-range" min="1" max="20" value="1" id="key-len2" oninput="num3.value=this.value" name="key-len-text">
                    <output id="num3">1</output>
                </div>
            </div>
        <div class="input-text-section">
        <div class="form-floating">
            <label for="floatingTextarea"></label>
            <textarea class="form-control" id="floatingTextarea" name="send-text" placeholder="Обязательный пример текстового поля" required></textarea>
            <div class="invalid-feedback">
                Please, enter text
            </div>
        </div>
            <div class="submit-button">
                <button class="btn btn-primary" type="submit" id="submit-button-text" name="submit-button-text">Send text</button>
            </div>
    </div>
        </form>
    </div>
    </div>
    <div class="container slider" v-else-if="!show_main && !show_about">
    <!-- Carousel -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="7000">
                    <img src="md5-slide.png" class="d-block w-70 h-100" alt="...">
                    <!--            <div class="carousel-caption d-none d-md-block">-->
                    <!--                <h5>Метка первого слайда</h5>-->
                    <!--                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>-->
                    <!--            </div>-->
                </div>
                <div class="carousel-item" data-bs-interval="7000">
                    <img src="https://www.heidelberg-laureate-forum.org/fileadmin/laureaten/Rivest.jpg"  class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="author" style="color: snow; padding-top: 20%">Автор алгоритма MD5 - Ronald L. Rivest</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://miro.medium.com/max/875/1*lBJR-ZwgsxRCIVBoc12lXw.png" class="d-block w-70 h-95" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 style="padding-right: 45%; color: white">Пример работы алгоритма MD5</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>


        <div class="second-text">
            <h1>Executive Summary</h1>
        <p>This document describes the MD5 message-digest algorithm. The
            algorithm takes as input a message of arbitrary length and produces
            as output a 128-bit "fingerprint" or "message digest" of the input.
            It is conjectured that it is computationally infeasible to produce
            two messages having the same message digest, or to produce any
            message having a given prespecified target message digest. The MD5
            algorithm is intended for digital signature applications, where a
            large file must be "compressed" in a secure manner before being
            encrypted with a private (secret) key under a public-key cryptosystem
            such as RSA.
        </p>
        </div>
    </div>
    <div v-else>
<!--        <h1>About</h1>-->
        <div class="bg-dark text-secondary px-4 py-5 text-center about-main">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white">MD5 Generator</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Курсовая работа посвящена алгоритму хеширования MD5. В данном проекте использовались следующие технологии:
                     Go, HTML, CSS, JS, VueJS, Bootstrap, JQuery. </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" v-on:click="documentation=!documentation; aboutself=false">Documentation</button>
                        <button type="button" class="btn btn-outline-light btn-lg px-4" v-on:click="aboutself=!aboutself; documentation=false">About</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="documentation">
            <h2 class="documentation">Documentation</h2>
            <p>MD5 Generator может хешировать как файлы произвольного типа, так и текст введённый с клавиатуры пользователя.
            <h3>Password</h3>
            <p>MD5 Generator позволяет пользователю использовать опцию парольной фразы. Парольную фразу можно регулировать по длине
            и по сложности. </p>
            <h4>Длина парольной фразы</h4>
            <p>Длину парольной фразы можно регулировать от минимального значение - 1 до максимального - 20 символов</p>
            <h4>Сложность парольной фразы</h4>
            <p>Сложность парольной фразы также можно регулировать.</p>
            <ul>
            Доступны 4 уровня сложности:
                <li>0 - Пароль должен содержать хотя бы одну цифру</li>
                <li>1 - Пароль должен содержать хотя бы одну букву латинского алфавита и цифру</li>
                <li>2 - Пароль должен содержать хотя бы одну букву кириллицы, латинского алфавита и цифру</li>
                <li>3 - Пароль должен содержать хотя бы одну букву кириллицы, латинского алфавита, цифру и специальный символ</li>
            </ul>
            </p>
        </div>
        <div v-if="aboutself">
            <h2 class="aboutself">About</h2>
            <p>Курсовую работу выполнил студент группы А-13-18 Кондратьев Алексей
            <h3>Тема</h3>
            <p>57. Программная реализация функции хеширования MD5.</p>

        </div>
        <div class="b-example-divider mb-0"></div>
    </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script type="text/javascript" src="script.js" ></script>
<script type="text/javascript" src="scriptjs.js"></script>


</body>
</html>